name: 3D Contributions

on:
  schedule:
    - cron: "0 1 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Generate 3D graph
        uses: yoshi389111/github-profile-3d-contrib@0.8.1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          user_name: zevenuscodes

      - name: Commit files
        run: |
          git config user.name "github-actions"
          git config user.email "actions@users.noreply.github.com"
          git add profile-3d-contrib
          git commit -m "update 3d graph" || echo "no changes"
          git push
